body {
    margin: 0; /*Supprimer la marge par défaut*/
    font-family: Arial, sans-serif; 
    display: flex; /*ça transforme ton body en “conteneur flexible”, ce qui te permet de contrôler comment ses enfants (ici header, main, footer) sont disposés.*/
    flex-direction: column;/*empile verticalement le header,main et footer au lieu d'horizontalement*/
    min-height: 100vh; /*garantit que le body fait au mojns la hauteur de la fenêtre*/
}

* {
    box-sizing: border-box;
}

header {
    background-color: gray;
    display: flex; /*Aligner le logo au menu*/
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header nav ul {
    list-style-type: none;
    padding: 0; /*Enlever le décalage par défaut*/
    margin: 0; /*Pareil*/
    display: flex;
    gap: 1rem; /*espace entre les liens*/
    align-items: center;
}

header nav a {
    color: white;
    padding: 0.5rem; /*zone cliquable plus grande*/
    text-decoration: none;
}

header a:hover {
    color: #ffd700;
}

main {
    background-color: white;
    padding: 20px;
    margin: 30px;
    max-width: 800px;
    width: 90%;
    flex: 1;
}

main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

main section {
    margin-bottom: 2rem;
    padding: 1rem;
}

main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-cv {
    display: inline-block; 
    padding: 10px 20px;
    background-color: blue;
    text-decoration: none;  
    color: white; 
    border-radius: 8px; /*Pour arrondir les bords*/
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-cv:hover {
    background-color: blueviolet;
}

.container{
    display: flex; /*pour que les blocs soient côte à côte*/
    gap: 20px; /*pour gérer l'espacement entre les blocs*/
    align-items: stretch;
}

.bloc {
    width: calc((100% - 40px) / 3); /*largeur des blocs exacte*/
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  
}

bloc h3 {
    margin-bottom: 10px; /*espacement entre titre et liset*/
    text-align: left;
}

.bloc ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;  
}

.bloc ul li {
    margin-bottom: 5px; /*espacement entre les items*/
}

footer {
    background-color: rgb(11, 5, 137);
    text-align: center;
    padding: 1rem 0;
    color: white;
}

footer p {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
}

footer ul {
    list-style-type: none; /*Supprime les pces*/
    padding-left: 0; /*Supprime l'espace à gauche par défaut*/
    margin: 0;
    display: flex; /* met la liste à l'horizontale*/
    justify-content: center; /*centre la liste dans le foorter*/
    align-items: center;
    gap: 1.5rem;
}

footer a{
    color: white;
    text-decoration: none; /*Supprimer le soulignement par défaut*/
    transition: color 0.3s;
}

footer a:hover {
    color: #ffd700;
}

footer a i {
    margin-right: 0.5rem;
    font-size: 1.2rem;    /*Taille de l'icône */
    vertical-align: middle;
}


